<section class="py-2 px-12 bg-purple-50">
  <section class="bg-gray-100">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="max-w-lg">
              <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl">Java Bekpulatov</h2>

                <p class="mt-4 text-gray-600 text-lg">I am a full-time student at 
                  Clarkson University studying Computer Science. 
                  I have a passion for computer programming and 
                  information technology. Hardworking and detail-oriented. 
                  I am open to learning new things and getting involved with new projects.</p>

                  <p class="mt-4 text-gray-600 text-lg">With a solid foundation in software engineering and a 
                    passion for technology, I have been fortunate to contribute to a range 
                    of projects across various industries. Each role has not only honed 
                    my technical skills but also taught me the value of teamwork,
                     innovation, and continuous learning. Below, you'll find 
                     a snapshot of my professional experiences, showcasing the 
                     challenges I've tackled and the solutions I've engineered.
                  </p>

                <div class="mt-8">
                    <a href="/projects" class="text-blue-500 hover:text-blue-600 font-medium">My Projects
                        <span class="ml-2">&#8594;</span></a>
                </div>
            </div>

           <div class="mt-12 md:mt-0">
    <img src="https://images.2moons.ai/prompt/slices/1/watermarked/astronaut-working-laptop-space_iF15z.png" alt="About Us Image" style="max-width: 70%; margin-left: 20%; transform: rotate(5deg);" class="object-cover rounded-lg shadow-md">
</div>

          
          
        </div>
    </div>
</section>

</section>
