<header class="w-full bg-white flex justify-between items-center px-6 py-4">
    
    <a href="#">

        <img src="/assets/logo4.png" alt="logo" class="h-12">

    </a>


    <nav>
        <ul class="flex gap-10 font-semibold text-sm">
            <li><a href="/" class="{{ 'text-purple-700' if url =='home' }}">Home</a></li>
            <li><a href="/about" class="{{ 'text-purple-700' if url =='about' }}">About</a></li>
            <li><a href="/blogs" class="{{ 'text-purple-700' if url =='blogs' }}">Blogs</a></li>
            <li><a href="/projects" class="{{ 'text-purple-700' if url =='projects' }}">Projects</a></li>
            <li><a href="https://github.com/java0525">Github</a></li>
        </ul>
    </nav>

</header>